body {
    color: whitesmoke;
    background-color: #2e036a;
}

header {
    text-align: center;
    color: #ffffff;
    font-weight: 500;
}
aside {
    background-color: #044f97;
    border-radius: 20px;
    border: 1px solid #023362;
}
.jumbotron {
    background-color: transparent;
    padding-top: 1rem;
}

.table {
    width: 80%;
}
.table th {
    white-space: nowrap;
}
.table td {
    width: 80%;
    height: auto;
}

.container {
    margin: 3rem auto;
}
.card {
    display: inline-block;
    width: 100%;
    border-radius: 15px;
}
.card-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#clearBtn {
    margin-left: 1rem;
}

@media only screen and (max-width: 800px) {
    #arrowImg {
        display: none;
    }
}
